@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

:root {
  --primary-s1: hsl(213, 96%, 18%);
  --primary-s2: hsl(243, 74%, 39%);
  --primary-s3: hsl(228, 100%, 84%);
  --primary-s4: hsl(215, 81%, 96%);

  --secondary-s1: hsl(231, 11%, 63%);
  --secondary-s2: hsl(230, 75%, 98%);
  --purple-shade: hsl(244, 98%, 77%);

  --bg-clr: hsl(231, 100%, 99%);
  --alert-clr: hsl(354, 84%, 57%);
}

body {
  background: var(--bg-clr);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
}

ul,
ol {
  list-style: none;
}
a {
  text-align: none;
  color: inherit;
}
input,
button {
  font-family: "Ubuntu", sans-serif;
  background: inherit;
  outline: none;
  cursor: pointer;
  border: none;
}
.pt-sm {
  padding-top: 1.5rem;
}
.plain-text {
  color: var(--secondary-s1);
}
.bright-text {
  color: var(--secondary-s2);
}
.w-500 {
  font-weight: 500;
}
.w-700 {
  font-weight: 700;
}
.sm-t {
  font-size: 14px;
}
.md-t {
  font-size: 19px;
}
.lg-t {
  font-size: 32px;
}
.App {
  max-width: 905px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0;
  gap: 80px;
}
.phase-list {
  border-radius: 13px;
  flex: 1;
  background-image: url("/public/images/bg-sidebar-desktop.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.phase-list__container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.phase-list__item {
  display: flex;
  align-items: center;
  gap: 15px;
}
.phase-list__item__manual {
  border: 1.5px solid var(--secondary-s2);
  color: var(--secondary-s2);
  display: grid;
  place-items: center;
  border-radius: 100vmax;
  width: 40px;
  height: 40px;
}
.active {
  border: none;
  background: var(--primary-s4);
  color: var(--primary-s2);
}
.phase-list__item__div p:first-child {
  color: var(--primary-s3);
}
.phase-list__item__div p:last-child {
  text-transform: uppercase;
  color: var(--secondary-s2);
}

@media (max-width: 750px) {
  .App {
    flex-direction: column;
    justify-content: space-between;
    gap: 0;
    padding: 0;
  }
  .phase-list {
    background-image: url("/public/images/bg-sidebar-mobile.svg");
    border-radius: 0;
    padding-bottom: 4.5rem;
  }
  .phase-list__container {
    width: 50%;
    gap: 6px;
    margin-top: 20px;
    justify-content: space-between;
    flex-direction: row;
  }
  .phase-list__item__div {
    display: none;
  }
}
